/* Estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #000000, #434343);
    color: #fff;
}

/* Estilo do cabeçalho */
header {
    position: relative;
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
    padding: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.menusuperior ul{
    max-width: 100%;;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imglogo{
    display: flex;
    justify-content: left;
    align-content: flex-start;
}

.logo img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MENU LATERAL*/

.menulateral {
    text-align: left;
    max-width: 260px;
    display: block;
    padding: 0;
}

.menulateral li{
    display: block;
    border: 1px solid #fff;
    padding: 10px;
    margin-left: 0;    
}

.menulateral a{
    font-size: 22px;
    margin: 10px 5px;
    /* text-transform: uppercase; */
    display: block;
    
}

.menulateral li:hover{
    background-color: #fff;
}
.menulateral a:hover{
    margin: 10px 5px;
    transition: 0.3s;
    background-color: #fff;
    color: black;
}
/* Estilo do menu de navegação no rodapé */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 20px;
}

/* Estilo do rodapé */
footer {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo da logomarca no rodapé */
footer .logo {
    display: flex;
    align-items: center;
}

footer .logo img {
    height: 50px;
    margin-right: 10px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 20px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Estilo do conteúdo principal */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    padding: 100px 20px 20px 20px;
    margin-top: 100px;
}

#consumidor {
    background-image: url('./imagens/consumidor.jpg');
    background-size: cover;
    background-position: center;
}

section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

section a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #222;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    margin-top: 20px;
}

/* Estilo do rodapé */
footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    font-size: 16px;
    text-align: center;
}

/* Estilos responsivos */
@media(max-width: 768px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media(max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 20px 10px 20px;
    }

    nav ul {
        margin-top: 10px;
    }

    main {
        padding: 100px 20px 20px 20px;
    }

    section {
        padding: 20px;
    }

    section h2 {
        font-size: 24px;
    }

    section p {
        font-size: 16px;
    }

    section a {
        font-size: 14px;
    }

    footer p {
        font-size: 14px;
    }
}